
.footer-section{
    width: 100%;
    grid-row: 6/7;
    background:#0c0c0c;
    padding:30px 0px;
    font-family: 'Play', sans-serif;
    text-align:center;

}

.footer-section .row{
/* width:100%; */
margin:1% 0%;
padding:0.6% 0%;
color:gray;
font-size:0.8em;
}

.footer-section .row a{
text-decoration:none;
color:gray;
transition:0.5s;
}

.footer-section .row a:hover{
color:#fff;
}

.footer-section .row ul{
width:100vw;
}

.footer-section .row ul li{
display:inline-block;
margin:0px 30px;
}

.footer-section .row a i{
font-size:2em;
margin:0% 1%;
}

/* @media (max-width:720px){

} */

/* large tablet */

@media (max-width: 990px) and (min-width:769px){

}
/* large mobile */
@media (max-width: 768px) and (min-width:577px){
    /* .footer-section{
        text-align:left;
        padding:5%;
        }
        .footer-section .row ul li{
        display:block;
        margin:10px 0px;
        text-align:left;
        }
        .footer-section .row a i{
        margin:0% 3%;
        } */
}

/* mobile */
@media (max-width: 576px){

     .footer-section{
        text-align:center;
        /* padding:5%; */
        }
        .footer-section .row ul li{
        display:block;
        margin:10px 0px;
        text-align:center;
        }
        .footer-section .row a i{
        margin:0% 3%;
        } 

}