<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style/default.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- googlr font -->
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto:wght@100;300;400;500&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Play&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script src="https://kit.fontawesome.com/1781ced494.js" crossorigin="anonymous"></script>
     <!-- bootstrap -->
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    
    <title>Freefire HomePage</title>
</head>
<body>
    <div class="main">
        <div class="nav-main">
            <div class="logo-container">
                <img src="../static/Image/garena.jpg" alt="Logo">
            </div>
            <div class="icontrigger-container helpicon">
                <i id="icon" class="fa-solid fa-bars helper"></i>
            </div>
            
                <ul class="nav-container hide">
                    <li> <a href="#home">Home</a></li>
                    <li> <a href="#collections">Collection</a></li>
                    <li> <a href="">About</a></li>
                    <li> <a href="">Contact</a></li>
                </ul>
                <div class="btn-container">
                    <button class="button"><a href="https://play.google.com/store/apps/details?id=com.dts.freefireth&hl=en&gl=US">Install Now</a> </button>
                    
                   <i class="fa-solid fa-user" data-toggle="modal" data-target="#login"></i>
            </div> 
        </div>
        <%- include('loginModal.ejs'); %>
        <div class="home-section" id="home" >
            <!-- <div id="animated-background"> -->
              <!-- <div class="hero-main"> -->
                <div class="hero-left-side">
                        <div class="container">
                             <h1>Garena Free  <span class="typed-text"></span><span class="cursor"> </span></h1>
                        </div>
                        <div class="container2">
                              <p>Free Fire is a multiplayer battle royale mobile game, developed and published by Garena for Android and iOS.</p>
                         </div>
                     <div class="hero-link">
                        <a href="https://www.youtube.com/watch?v=JDY8XkebaeA"><i class="fa-brands fa-youtube"></i></a>
                        <a href="https://play.google.com/store/apps/details?id=com.dts.freefireth&hl=en&gl=US"><i class="fa-brands fa-google-play"></i></a>
                        <a href="https://www.facebook.com/freefirephofficial/"><i class="fa-brands fa-facebook"></i></a>
                    </div> 
                </div>
                  <div class="hero-right-side">
                    <img class="img1 imgj" src="../static/Image/hero1.jpg" alt="">
                    <img  class="img2 imgj" src="../static/Image/hero2.jpg" alt="">
                    <img  class="img3 imgj" src="../static/Image/hero4.jpg" alt="">
                </div>
                <!-- </div> -->
              <!-- </div> -->
         </div>
        <div class="collection-section" id="collections">

            <div class="collection-title">
                <h1>Collections</h1>
            </div>
             
             
            <div class="collection-container">
                 <% for(let value of colData) { %>
                <div class="collection">
                    <div class="hover-details">
                        <div class="hover-content">
                          <p><%= value.colDescription %></p>
                          
                        </div>
                        <div class="character-link">
                            <p>More</p>
                            <div class="character-icon">
                                <a href="./character.html"><i class="fa-solid fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="character-container">
                        <div class="character-img-container">
                            <img src="../static/Image/character1.webp" alt="">
                        </div>
                        <h2><%= value.colTitle %></h2>
                     </div>
                     <div class="character-link">
                        <p>More</p>
                        <div class="character-icon">
                            <a href="#"><i class="fa-solid fa-plus"></i></a>
                        </div>
                     </div>

                </div>
                <% } %>
                <!-- <div class="collection">
                    <div class="hover-details">
                        <div class="hover-content">
                          <p>Free Fire weapons contain 9 categories, including melee weapons and grenades.</p>
                        </div>
                        <div class="character-link">
                            <p>More</p>
                            <div class="character-icon">
                                <a href="./character.html"><i class="fa-solid fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                        <div class="character-container">
                            <div class="character-img-container">
                                <img src="../static/Image/freefire-guns.jpg" alt="">
                            </div>
                            <h2>Weapon</h2>
                         </div>
                         <div class="character-link">
                            <p>More</p>
                            <div class="character-icon">
                                <a href="#"><i class="fa-solid fa-plus"></i></a>
                            </div>
                         </div>

                </div>
                <div class="collection">
                    <div class="hover-details">
                        <div class="hover-content">
                          <p>Free Fire has five maps that feature battle royale matches, with each having a unique feature.</p>
                        </div>
                        <div class="character-link">
                            <p>More</p>
                            <div class="character-icon">
                                <a href="./character.html"><i class="fa-solid fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="character-container">
                        <div class="character-img-container">
                            <img src="../static/Image/map.png" alt="">
                        </div>
                        <h2>Maps</h2>
                     </div>
                     <div class="character-link">
                        <p>More</p>
                        <div class="character-icon">
                            <a href="#"><i class="fa-solid fa-plus"></i></a>
                        </div>
                     </div>
                </div>
                <div class="collection">
                    <div class="hover-details">
                        <div class="hover-content">
                          <p>Pets are a good companion for your character during a match. Pets have become an integral part of Free Fire.</p>
                        </div>
                        <div class="character-link">
                            <p>More</p>
                            <div class="character-icon">
                                <a href="./character.html"><i class="fa-solid fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="character-container">
                        <div class="character-img-container">
                            <img src="../static/Image/pet.webp" alt="">
                        </div>
                        <h2>Pets</h2>
                     </div>
                     <div class="character-link">
                        <p>More</p>
                        <div class="character-icon">
                            <a href="#"><i class="fa-solid fa-plus"></i></a>
                        </div>
                     </div>
                </div>
                <div class="collection">
                    <div class="hover-details">
                        <div class="hover-content">
                          <p> It will help the player to travel faster through the map or to provide additional protection from gunfire,acting as a mobile barrier.</p>
                        </div>
                        <div class="character-link">
                            <p>More</p>
                            <div class="character-icon">
                                <a href="./character.html"><i class="fa-solid fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="character-container">
                        <div class="character-img-container">
                            <img src="../static/Image/cars.avif" alt="">
                        </div>
                        <h2>Cars</h2>
                     </div>
                     <div class="character-link">
                        <p>More</p>
                        <div class="character-icon">
                            <a href="#"><i class="fa-solid fa-plus"></i></a>
                        </div>
                     </div>
                </div>
                <div class="collection">
                    <div class="hover-details">
                        <div class="hover-content">
                          <p> It will help the player to travel faster through the map or to provide additional protection from gunfire,acting as a mobile barrier.</p>
                        </div>
                        <div class="character-link">
                            <p>More</p>
                            <div class="character-icon">
                                <a href="./character.html"><i class="fa-solid fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="character-container">
                        <div class="character-img-container">
                            <img src="../static/Image/cars.avif" alt="">
                        </div>
                        <h2>Cars</h2>
                     </div>
                     <div class="character-link">
                        <p>More</p>
                        <div class="character-icon">
                            <a href="#"><i class="fa-solid fa-plus"></i></a>
                        </div>
                     </div>
                </div> -->

            </div>
        </div>
        <div class="about-section">
            <div class="space2"></div>
            <div class="about-title">
                <h1>What is Garena Freefire?</h1>
            </div>
            <div class="about-container">
                <div class="about1">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id sit alias nesciunt earum? Quos dicta sit ea a asperiores et tempore dolor suscipit numquam quibusdam perferendis, adipisci, modi in accusamus.</p>
                </div>
                <div class="about-left">
                    <div class="img-container">
                        <img src="../static/Image/about1.jpg" alt="">
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta illo, velit vitae aspernatur minus facere repellat necessitatibus fuga consequuntur at sit corporis distinctio consectetur qui! Aspernatur nostrum repellat ullam culpa?</p>
                    <button class="button">Read more</button>
                </div>
                <div class="about-center">
                    <div class="img-container1">
                        <img src="../static/Image/about1.jpg" alt="">   
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta illo, velit vitae aspernatur minus facere repellat necessitatibus fuga consequuntur at sit corporis distinctio consectetur qui! Aspernatur nostrum repellat ullam culpa?</p>
                    <button class="button">Read more</button>
                </div>

                <div class="about-right">
                    <div class="img-container1">
                        <img src="../static/Image/about1.jpg" alt="">   
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta illo, velit vitae aspernatur minus facere repellat necessitatibus fuga consequuntur at sit corporis distinctio consectetur qui! Aspernatur nostrum repellat ullam culpa?</p>
                    <button class="button">Read more</button>
                </div>
            </div>
        </div>
        <div class="contact-section">
            <div class="space3"></div>
            <div class="contact-container">
                <div class="contact-left">
                    <div class="contact-content">
                       <h1>Let'talk about everything</h1>
                       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, quod!</p>
                    </div>
                    <div class="contact-img-container">
                        <img src="../static/Image/contact.svg" alt="">
                    </div>
                </div>
                <div class="contact-right">
                   
                        <input type="text" placeholder="Name">
                        <input type="email" placeholder="Email">
                        <input type="text" placeholder="Subject">
                        <textarea id="sample" cols="30" rows="10"></textarea>
                        
                        <button class="contact-btn">Submit</button>
                  
                </div> 
            </div>
            
        </div>
        <div class="footer-section">
           
                <div class="rw">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-youtube"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                </div>
                
                <div class="rw">
                <ul>
                <li><a href="#">Contact us</a></li>
                <li><a href="#">Our Services</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms & Conditions</a></li>
                <li><a href="#">Career</a></li>
                </ul>
                </div>
                
                <div class="rw">
                GAB Copyright © 2022 GAB - All rights reserved || Designed By: Bryan 
                </div>
        </div>
    </div>
</body>
<script src="../static/js/Particle.js"></script>
<script src="../static/js/type.js"></script>
<script src="../static/js/navbar.js"></script>
<script src="../static/js/api.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>


</html>